<!DOCTYPE html>

<html>

<head>
	<style>
		* {
			margin: 0;
		}

		.c {
			width: 100%;
			margin: 20px 0px 50px 50px;
			border: 1px solid;
		}

		.c li {
			list-style: none;
			text-decoration-skip-ink: none;
		}
	</style>
</head>

<body>
	<div class="c">
		<lu>
			<li>
				<a href="/admin/product">product</a>
			</li>
			<br>
			<li>
				<a href="/admin/orders">Orders</a>
			</li>
			<br>
			<li>
				<a href="/admin/shutdown">shutdown server</a>
			</li>
			<br>
			<li>
				<a href="/admin/logout">logout</a>
			</li>
		</lu>
	</div>

</body>

</html>