<!DOCTYPE html>
<html>

<head>
	<style>

	</style>
</head>

<body>
	<form action="/admin/login" method="post">
		<label> username</label>
		<input id="username" type="text" name="username" required onclick="clearErr()">
		<br>
		<label> password</label>
		<input type="password" name="password" onclick="clearErr()" required>
		<br>
		<input type="submit" value="Submit">
	</form>
	{{ if .err}}
	<p id="err">{{.err}}</p>
	<script>
		function clearErr() {
			document.getElementById("err").remove()
		}
	</script>
	{{end}}



</body>

</html>
