<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <style>

    </style>
</head>

<body>
    <div>
        <div>
            <p>Container</p>
            <div id="Container">
                <form id="formContainer" action="#">
                    {{ range .Container}}
                    <label> {{.}} </label>
                    <input type="checkbox" name="{{.}}">
                    <br>
                    {{end}}
                </form>
                <button onclick="newContainer()"> add new Container </button>
                <button onclick="deleteContainer()"> delete Container </button>
                <input id="NameContainer" type="text" placeholder="Name Container" onclick="clearErrContainer()">
                <span id="errContainer"></span>
                <button onclick="newKind()"> add new  Kind</button>
                <button onclick="deletekind()"> delete kind</button>
                <input id="NameKind" type="text" placeholder="Name Container" onclick="clearErrContainer()">
                <span id="errContainer"></span>
            </div>
        </div>
    </div>


    <script>
        function clearErrContainer() {
            document.getElementById("errContainer").innerText = ""
        }
        function deleteContainer() {
            fetch("/admin/product/container", {
                method: "delete",
                headers: {
                    'Content-Type': 'text/plain',
                },
                body: document.getElementById("NameContainer").value
            }).then((Response) => Response.text()).then((data) => {
                document.getElementById("errContainer").innerText = data
                if (data == "delete") {
                    await => new Promise(resolve => setTimeout(resolve, 1000));
                    location.reload()
                }
            })

            document.getElementById("NameContainer").value = ""

        }


        function newContainer() {
            fetch("/admin/product/container", {
                method: "post",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: "Container=" + document.getElementById("NameContainer").value
            }).then((Response) => Response.text()).then((data) => {
                document.getElementById("errContainer").innerText = data

                if (data == "Created") {
                    await => new Promise(resolve => setTimeout(resolve, 1000));
                    location.reload()
                }
            })
            document.getElementById("NameContainer").value = ""
        }


    </script>
</body>

</html>