*{
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: #e6e6e6;
}

/* header */
header{
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30.5%;
    padding-left: 14%;
    box-shadow: 0 2px 0 #323232;
    z-index: 1;
}
.title{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: baseline;
    text-align: center;
    color: #000;
    gap: 8px;
    letter-spacing: 2.5px;
}
.logo{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 6px;
    color: #c8805f;
    font-family: 'Akronim';
    font-style: italic;
    text-shadow: rgba(214, 161, 14, 0.899)3px 3px 2px ,
     rgba(188, 166, 19, 0.988) -3px -3px 2px;
}

/* orders list */
section{
    position: sticky;
    width: 100%;
    margin-top: 3%;
}
.orders{
    padding: 10px 10%;
}
h2{
    font-size: 1.75rem;
}
h3{
    display: inline;
    color: #000;
}
.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 8px;
    border: 3px solid #323232;
}
li{
    font-size: 1.4rem;
    font-weight: 600;
    color: #323232;
}
#back-btn{
    position: absolute;
    left: 6%;
    bottom: 7.5%;
    font-size: 2rem;
    padding: 4px;
    background: #323232;
    border-radius: 50%;
    color: #fff;
}