<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Akronim' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Manage and Orders</title>
</head>
<body>
    <header>
        <p class="logo"> SS </p>

        <div class="title">
            <h1>Sportswear <br>Store</h1>
        </div>
    </header>

    <!-- manager&order list -->
    <section class="manager-order">
        <ul>
            <li class="list"><a href="/admin/product">managing <i class='bx bx-cog bx-spin' ></i></a></li>
            <li class="list"><a href="/admin/orders">Orders <i class='bx bx-chevrons-right bx-fade-right' ></i></a></li>
        </ul>
    </section>

    <a href="/admin/logout"><i id="back-btn" class='bx bx-arrow-back' ></i></a>
</body>
</html>