<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Akronim' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Orders</title>
</head>
<body>
    <header>
        <p class="logo"> SS </p>

        <div class="title">
            <h1>Sportswear <br>Store</h1>
        </div>
    </header>

    <!-- orders container -->
    <section class="order-section">
        <div class="orders">
            <h2 class="order-header" onclick="Getorders()"> Oreders <i class='bx bxs-chevron-down' ></i> </h2>
            <!-- order 1 -->
            <ul class="order">
                <!-- idModel -->
                <li> <h3>Id:</h3> <span>28461</span> </li>

                <!-- username -->
                <li> <h3>Username:</h3> <span>Elias Musharbash</span> </li>

                <!-- address -->
                <li><h3>Address</h3> <div>Jordan/ Irbid/ Huson</div> </li>

                <!-- container -->
                <li> <h3>Product type:</h3> <span>Man</span> </li>

                <!-- kind + color + size -->
                <li> 
                    <h3>Details</h3>
                    <div>
                        <span>Shoes/</span>
                        <span>White/</span>
                        <span>42</span>
                    </div>
                </li>
            </ul>

            <!-- order 2 -->
            <ul class="order">
                <!-- idModel -->
                <li> <h3>Id:</h3> <span>91735</span> </li>

                <!-- username -->
                <li> <h3>Username:</h3> <span>Elias Musharbash</span> </li>

                <!-- address -->
                <li><h3>Address</h3> <div>Jordan/ Irbid/ Huson</div> </li>

                <!-- container -->
                <li> <h3>Product type:</h3> <span>Man</span> </li>

                <!-- kind + color + size -->
                <li> 
                    <h3>Details</h3>
                    <div>
                        <span>T-Shirt/</span>
                        <span>Blue/</span>
                        <span>XL</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <a href="/admin"><i id="back-btn" class='bx bx-arrow-back' ></i></a>
    
</body>
</html>